<a href="https://colab.research.google.com/github/clem-mont-inha/MonteiroClementWeek6Assignment/blob/main/Week6DBM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import sqlite3

conn = sqlite3.connect('company_database.db')
print("Opened Database succesfully")

conn.execute('''
CREATE TABLE IF NOT EXISTS Employee
(ssn INT NOT NULL,
fname TEXT NOT NULL,
sex INT NOT NULL,
salary INT,
lname TEXT,
adress TEXT,
bdate DATETIME,
minit INT,
dno INT,
PRIMARY KEY(ssn));''')

print("Table created succesfully")

Opened Database succesfully
Table created succesfully

In [10]:
conn.execute('''
CREATE TABLE IF NOT EXISTS Dependent
(dependentname INT NOT NULL,
sex INT NOT NULL,
bdate DATETIME NOT NULL,
relationship TEXT,
essn INT NOT NULL,
PRIMARY KEY(dependentname),
FOREIGN KEY(essn) REFERENCES Employee(ssn));''')

print("Table created succesfully")

Table created succesfully

In [11]:
conn.execute('''
CREATE TABLE IF NOT EXISTS Department
(dnumber INT NOT NULL,
dname TEXT NOT NULL,
mgrssn INT NOT NULL,
PRIMARY KEY(dnumber),
FOREIGN KEY(mgrssn) REFERENCES Employee(ssn));''')

print("Table created succesfully")

Table created succesfully

In [15]:
conn.execute('''
CREATE TABLE IF NOT EXISTS Project
(pnumber INT NOT NULL,
pname TEXT NOT NULL,
plocation TEXT NOT NULL,
dnumber INT NOT NULL,
PRIMARY KEY(pnumber),
FOREIGN KEY(dnumber) REFERENCES Department(dnumber));''')

print("Table created succesfully")

Table created succesfully

In [16]:
conn.execute('''
CREATE TABLE IF NOT EXISTS Employee_Project
(pnumber INT NOT NULL,
hours TEXT NOT NULL,
ssn TEXT NOT NULL,
FOREIGN KEY(pnumber) REFERENCES Project(pnumber),
FOREIGN KEY(ssn) REFERENCES Employee(ssn));''')

print("Table created succesfully")

Table created succesfully

In [17]:
conn.execute('''
CREATE TABLE IF NOT EXISTS Locations
(dlocation INT NOT NULL,
PRIMARY KEY(dlocation));''')

print("Table created succesfully")

Table created succesfully

In [20]:
conn.execute('''
CREATE TABLE IF NOT EXISTS Department_Locations
(dlocation INT NOT NULL,
dnumber INT NOT NULL,
FOREIGN KEY(dnumber) REFERENCES Department(dnumber),
FOREIGN KEY(dlocation) REFERENCES Locations(dlocation));''')

print("Table created succesfully")

Table created succesfully

In [28]:
r_set=conn.execute('''select name from sqlite_master where type = 'table' ''')
for row in r_set:
  print(row)

('Employee',)
('Dependent',)
('Department',)
('Project',)
('Employee_Project',)
('Locations',)
('Department_Locations',)

In [ ]:
conn.close()